<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="testfour">
		<classes>
			<class name="tests.TestFour" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="testthree">
		<classes>
			<class name="tests.TestThree" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="testtwo">
		<classes>
			<class name="tests.Testtwo" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="logintest">
		<classes>
			<class name="tests.logintest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
